# python essentials
numpy
pandas
python-dotenv

# machine learning
scikit-learn

# embedding and vectorDB
sentence-transformers
chromadb

# langchain
langgraph
langchain_chroma
langchain_huggingface
langchain_groq